.fondo {
  /* background-position: bottom -170px right; */
  /* background-size: auto; */
  background-repeat: no-repeat;
  background-image: url("./assets/images/pokemon-go-do.jpg");
  background-color: #61dafb;

  background-size: cover;
  width: 100%;
  object-fit: cover;
  /* background-attachment: fixed; */
  /* flex: 1 100%; */

  /* height: 150px; */
}

.fondo-img {
  width: 100%;
  height: 25vh;
  /* background-image: linear-gradient(to right, rgba(241.5, 220.5, 31.5, 1) calc((50vw - 170px) - 340px), rgba(241.5, 220.5, 31.5, 0.84) 50%, rgba(241.5, 220.5, 31.5, 0.84) 100%); */
  /* background-color: rgba(241.5, 220.5, 31.5, 0.3); */
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.506);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flat-title-page {
  position: relative;
  /* background: url(../images/backgroup-secsion/img_bg_page_title.jpg) center center no-repeat; */
  background-size: cover;
  padding: 100px 0 20px;
}