.container {
  width: 100%;
  grid-template-columns: 1fr;
  padding: 5px 10px;
  display: grid;
  gap: 15px;
  color: white;
  /* max-width: 1140px; */
}

.completo {
  width: 100%;

}




@media (min-width: 576px) {

  .container {
    max-width: 540px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {

  .container {
    max-width: 720px;

  }
}

@media (min-width: 992px) {


  .container {
    max-width: 960px;

  }
}

@media (min-width: 1200px) {


  .container {
    max-width: 1140px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {

  .container {
    max-width: 1320px;
  }
}